.container {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  z-index: 1;
}

.container>.text {
  font-family: var(--font-montserrat), monospace;
  font-size: 0.9rem;
  background: rgba(0, 0, 0, 0.4);
  color: rgb(199, 199, 199);

  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 0.8rem !important;
  gap: 0.8rem;
  font-weight: 600;
  padding: 0.2rem 1rem;
  border-radius: 25px;
}

.nombre {
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
}

.container a {
  text-decoration: none;
  color: rgb(199, 199, 199);
}

.container a:hover {
  text-decoration: none;
  color: white
}

.icon {
  margin-top: 0.1rem;
  color: rgb(199, 199, 199);
}

.icon:hover {
  color: white;

}

.emoji {
  filter: grayscale(1) contrast(80) invert(0) brightness(40%);
  font-size: 0.9rem;
}

@media (hover:none) {
  .emoji {
    font-size: 0.7rem;
  }
}